* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue1: #AFAAB9;
    --blue2: #8090B7;
    --blue3: #08255D;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	scroll-behavior: smooth;
	transition: 0.5s linear;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

/* ### Header ### */
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(15, 15, 15);
}

.heading img {
	width: 200px;
	margin-left: 20px;
}

.contactInfo {
	color: white;
	margin-right: 20px;
	text-align: right;
}

.contactInfo {
	display: flex;
	flex-direction: column;
	line-height: 20px;
	font-size: 1.2rem;
}

.navbar {
	/* position: relative; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color: rgb(255, 255, 255);
	position: sticky;
	top: 0;
}

.navLinks ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navLinks li {
	list-style: none;
}

.navLinks li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.navLinks li:hover {
	background-color: #555;
}

/* ### Hamburger Menu ### */

.hamburger {
	/* position: absolute; */
	background-color: transparent;
	color: white;
	border: 0;
	font-size: 1rem;
	cursor: pointer;
	display: none;
	padding: 1rem;
	/* move hamburger to right */
	margin-left: auto;
}

.hamburger:focus {
	outline: none;
}

.banner {
    height: 100vh;
    width: 100%;
    background: url(/img/cameraBanner.jpg);
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerText {
    color: white;
    position: absolute;
    top: 350px;
    left: 100px;
    font-size: 1.5rem;
}

/* ### Main ### */


